.rebar3
_*
.eunit
*.o
*.d
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
rebar3.crashdump
emas.config
doc
.hosts.erlang
priv
compile_commands.json
emas
rebar3
