{erl_opts,
 [
  debug_info,
  warn_export_all,
  warn_export_vars,
  warn_shadow_vars,
  warn_obsolete_guard,
  warn_unused_import
 ]
}.

{deps,
 [
  {mas, {git, "https://github.com/erlang-mas/mas.git", {branch, "develop"}}},
  {getopt, "0.8.2"}
 ]
}.

{plugins, [pc]}.

{escript_incl_apps, [getopt]}.
{escript_emu_args, "%%! -noinput -hidden\n"}.

{provider_hooks,
 [
  {pre,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  },
  {post,
   [
    {compile, escriptize}
   ]
  }
 ]
}.

{post_hooks, [{compile, "cp $REBAR_BUILD_DIR/bin/emas $REBAR_ROOT_DIR/."}]}.

{port_specs,
 [{"priv/fitness_entry_nif.so", ["c_src/fitness_entry_nif.c"]}]
}.
